:root {
    --fh_green_std: #30b4a7;
    --fh_green_10: #2ca89e;
    --fh_green_25: #23958d;
    --fh_green_50: #016b67;
    --fh_green_75: #003e3b;
    --fh_white: #ffffff;
    --fh_black: #000000;
    --fh_black_75: #515151;
    --fh_black_50: #929292;
    --fh_black_25: #cacaca;
    --fh_black_10: #eaeaea;
    --fh_silver: #aeafb3;
}

body{
	background-color: #ebeff5;
}
#total-devices{
	background-color: #4cb4c7;
}
#total-products{
	background-color: #7abecc;
}
#total-suppliers{
	background-color: #7CD1C0;
}
