{%  extends 'inventory/main.html' %}

{% block content %}

<br>

<div class="row p-3 pt-0">
    <div class="col-md">
        <div class="card card-body">
            <h5>Device: {{ device.device_name }}</h5>
            <hr>

            <p>Name: {{ device.device_name }}</p>
            <p>Serial Number: {{device.serial_number}}</p>
            <p>MAC: {{device.mac_address}}</p>
            <p>IP: {{device.ip_address}}</p>
            <p>OS: {{device.os}}</p>
            <p>Group: {{device.group}}</p>
            <p>Network: {{device.network}}</p>
            <p>Location: {{device.location}}</p>
            <div class="d-flex">
                <a class="btn flex-fill btn-outline-info  btn-sm btn-block me-1" href="{% url 'inventory:change_device' device.pk %}">Update Device</a>
                <a class="btn flex-fill btn-outline-danger  btn-sm btn-block" href="{% url 'inventory:delete_device' device.pk %}">Delete Device</a>
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-body">
            <h5>Info</h5>
            <hr>

            {% if device.automatic_import %}
            <div class="alert alert-danger" role="alert">
                Warning! Automatic Import
            </div>
            {% endif %}
            {% if device.csv_import %}
            <div class="alert alert-warning" role="alert">
                Warning! CSV Import
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row p-3 pt-0">
    <div class="col-md">
        <div class="card card-body">
            <h5>Product: {{ device.product_id.model }} {{ device.product_id.version }}</h5>
            <hr>

            <p>Model: {{ device.product_id.model }}</p>
            <p>Version: {{ device.product_id.version }}</p>
            <p>Type: {{ device.product_id.type }}</p>
            <p>EndOfSupport: {{ device.product_id.endOfSupport }}</p>

            {% if device.product_id %}
            <div class="d-flex">
                <a class="btn flex-fill btn-outline-info  btn-sm btn-block me-1" href="{% url 'inventory:product' device.product_id.pk %}">View Product</a>
                <a class="btn flex-fill btn-outline-info  btn-sm btn-block me-1" href="{% url 'inventory:change_product' device.product_id.pk %}">Update Product</a>
                <a class="btn flex-fill btn-outline-danger  btn-sm btn-block" href="{% url 'inventory:delete_product' device.product_id.pk %}">Delete Product</a>
            </div>
            {% else %}
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'inventory:create_product' %}">Create Product</a>
            {% endif %}

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Supplier: {{ device.product_id.product_supplier_id }}</h5>
            <hr>
            <p>Name: {{ device.product_id.product_supplier_id.name }}</p>
            <p>Contact Info: {{ device.product_id.product_supplier_id.contact_information }}</p>
            <p>Acquisition History: {{ device.product_id.product_supplier_id.acquisitionHistory }}</p>
            <p>Support Contracts: {{ device.product_id.product_supplier_id.supportContracts }}</p>
            <p>Additional Info: {{ device.product_id.product_supplier_id.additionalInformation }}</p>

            {% if device.product_id.product_supplier_id %}
            <div class="d-flex">
                <a class="btn flex-fill btn-outline-info  btn-sm btn-block me-1" href="{% url 'inventory:supplier' device.product_id.product_supplier_id.pk %}">View Supplier</a>
                <a class="btn flex-fill btn-outline-info  btn-sm btn-block me-1" href="{% url 'inventory:change_supplier' device.product_id.product_supplier_id.pk %}">Update Supplier</a>
                <a class="btn flex-fill btn-outline-danger  btn-sm btn-block" href="{% url 'inventory:delete_supplier' device.product_id.product_supplier_id.pk %}">Delete Supplier</a>
            </div>
            {% else %}
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'inventory:create_supplier' %}">Create Supplier</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row p-3 pt-0">
    <div class="card card-body">
        <h5>Installed Software</h5>
        <hr>
        <table class="table table-sm">
            <tr>
                <th></th>
                <th>Name</th>
            </tr>

            {% for software in softwares %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'inventory:software' software.id %}">View</a></td>
                <td>{{software.software_name}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br>

{% endblock %}