<br>

<div class="row p-3">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-devices">
                <div class="card-header">
                    <h5 class="card-title">Total Devices</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_devices}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-products">
                <div class="card-header">
                    <h5 class="card-title">Total Products</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_products}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-suppliers">
                <div class="card-header">
                    <h5 class="card-title">Total Suppliers</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_suppliers}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>