<br>

<div class="row p-3">
    <div class="col-md-auto">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <div class="p-1">
                    <a class="btn btn-primary shadow" href="{% url 'inventory:download' %}">Daten exportieren</a>
                </div>
                <div class="p-1">
                    <button type="button" class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#data_import">Daten importieren</button>
                </div>
                <div class="p-1">
                    <button type="button" class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#modules">
                        Discovery Module
                    </button>
                </div>
            </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-devices">
                <div class="card-header">
                    <h5 class="card-title">Total Devices</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_devices}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-products">
                <div class="card-header">
                    <h5 class="card-title">Total Products</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_products}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-suppliers">
                <div class="card-header">
                    <h5 class="card-title">Total Suppliers</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_suppliers}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-software">
                <div class="card-header">
                    <h5 class="card-title">Total Software</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_software}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="data_import" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Daten importieren</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form action="/upload/" enctype="multipart/form-data" method="post">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modules" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Discovery Module</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Networkdiscovery Module</h5>
                    <hr>
                    <form action="{% url 'inventory:netscan' %}" enctype="multipart/form-data" method="post">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ networkdiscovery_form|crispy}}
                        <input type="submit" value="Submit">
                    </form>
                    {% csrf_token %}

                    <hr>
                    <h5>Siemens S7 Scan</h5>
                    <form action="{% url 'inventory:s7scan' %}" enctype="multipart/form-data" method="post">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ s7discovery_form|crispy}}
                        <input type="submit" value="Submit">
                    </form>
                    {% csrf_token %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>